#alerta.modal.fade(tabindex='-1', role='dialog', aria-labelledby='familias')
  .modal-dialog.modal-sm(role='document')
    .modal-content
      .modal-header.text-center
        h4#myModalLabel.modal-title Desea Eliminar
      .modal-footer
        button.flat-butt.flat-primary-butt.flat-inner-butt.flat-primary-inner-butt(type='button', data-dismiss='modal') Cancelar
        button.flat-butt.flat-danger-butt.flat-inner-butt.flat-danger-inner-butt(type='button') Aceptar
