// Modal Familias
#catalogo.modal.fade(tabindex='-1', role='dialog', aria-labelledby='familias')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4#myModalLabel.modal-title Elegir Campaña
      .modal-body
        .row
          .col-md-12.col-sm-12.col-xs-12
            .form-group              
              .inner-addon.right-addon
                i.glyphicon.glyphicon-search
                input#buscar_familias.form-control(type='input', placeholder='Introdusca el nombre del insumo', autofocus='')
          .col-md-12
            table#agregarMaterial.table.table-hover
              thead
                tr
                  th 
                    input.icheck(type='checkbox')
                  th Codigo
                  th Nombre de Campaña
              tbody
                tr
                  td 
                    input.icheck(type='checkbox')
                  td P2017
                  td Primavera
                tr
                  td 
                    input.icheck(type='checkbox')
                  td P2017
                  td Otoño
                tr
                  td 
                    input.icheck(type='checkbox')
                  td P2017
                  td Invierno
                tr
                  td 
                    input.icheck(type='checkbox')
                  td P2017
                  td Día de la madre
                  
      .modal-footer
        button.flat-butt.flat-primary-butt.flat-inner-butt.flat-primary-inner-butt(type='button', data-dismiss='modal') Cancelar
        button.flat-butt.flat-danger-butt.flat-inner-butt.flat-danger-inner-butt(type='button') Agregar
