// Modal Familias
#materiales.modal.fade(tabindex='-1', role='dialog', aria-labelledby='familias')
  .modal-dialog.modal-lg(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4#myModalLabel.modal-title Elegir Insumos
      .modal-body
        .row
          .col-md-12.col-sm-12.col-xs-12
            .form-group              
              .inner-addon.right-addon
                i.glyphicon.glyphicon-search
                input#buscar_familias.form-control(type='input', placeholder='Introdusca el nombre del insumo', autofocus='')
          .col-md-12
            table#agregarMaterial.table.table-hover
              thead
                tr
                  th               
                  th First Name
                  th Last Name
                  th Job Title
                  th DOB
                  th.text-center Cantidad
                  th Unidad de Medida
                  th.text-center Estado
              tbody
                tr
                  td
                    input.icheck(type='checkbox')
                  td Maple
                  td Maple
                  td Halladay
                  td Aviation Tactical Readiness Officer
                  td 30 Dec 2016
                  td
                    .form-group
                      select#tipo_producto.form-control(name='tipo_producto') 
                        option Productos
                        option Insumos
                        option Servicios
                        option Compuestos
                        option Produccion
                        option insumos
                        option Administrativos
                        option Afectos a detraccion
                  td.text-center
                    span.label.label-table.label-default Deshabilitado                                    
                tr
                  td 
                    input.icheck(type='checkbox')
                  td Maxine
                  td Maple
                  td Woldt
                  td Business Services Sales Representative
                  td 17 Oct 2014
                  td 
                    .form-group
                      select#tipo_producto.form-control(name='tipo_producto') 
                        option Productos
                        option Insumos
                        option Servicios
                        option Compuestos
                        option Produccion
                        option insumos
                        option Administrativos
                        option Afectos a detraccion
                  td.text-center
                    span.label.label-table.label-success Habilitado                        
      .modal-footer
        button.flat-butt.flat-primary-butt.flat-inner-butt.flat-primary-inner-butt(type='button', data-dismiss='modal') Cancelar
        button.flat-butt.flat-danger-butt.flat-inner-butt.flat-danger-inner-butt(type='button') Agregar
