// Modal Familias
#familias.modal.fade(tabindex='-1', role='dialog', aria-labelledby='familias')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4#myModalLabel.modal-title Elegir Familia
      .modal-body
        .row
          .col-md-12.col-sm-12.col-xs-12
            .form-group              
              .inner-addon.right-addon
                i.glyphicon.glyphicon-search
                input#buscar_familias.form-control(type='input', placeholder='Introdusca el nombre de familia', autofocus='')
        #treeview-checkable
      .modal-footer
        button.flat-butt.flat-primary-butt.flat-inner-butt.flat-primary-inner-butt(type='button', data-dismiss='modal') Cancelar
        button.flat-butt.flat-danger-butt.flat-inner-butt.flat-danger-inner-butt(type='button') Agregar
