/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$central_emergencias_name = 'central_emergencias';
$central_emergencias_x = 198px;
$central_emergencias_y = 109px;
$central_emergencias_offset_x = -198px;
$central_emergencias_offset_y = -109px;
$central_emergencias_width = 43px;
$central_emergencias_height = 43px;
$central_emergencias_total_width = 259px;
$central_emergencias_total_height = 213px;
$central_emergencias_image = 'source/images/sprite.png';
$central_emergencias = 198px 109px -198px -109px 43px 43px 259px 213px 'source/images/sprite.png' 'central_emergencias';
$ico_text_two_name = 'ico-text-two';
$ico_text_two_x = 0px;
$ico_text_two_y = 109px;
$ico_text_two_offset_x = 0px;
$ico_text_two_offset_y = -109px;
$ico_text_two_width = 198px;
$ico_text_two_height = 54px;
$ico_text_two_total_width = 259px;
$ico_text_two_total_height = 213px;
$ico_text_two_image = 'source/images/sprite.png';
$ico_text_two = 0px 109px 0px -109px 198px 54px 259px 213px 'source/images/sprite.png' 'ico-text-two';
$ico_twitter_name = 'ico-twitter';
$ico_twitter_x = 0px;
$ico_twitter_y = 179px;
$ico_twitter_offset_x = 0px;
$ico_twitter_offset_y = -179px;
$ico_twitter_width = 34px;
$ico_twitter_height = 34px;
$ico_twitter_total_width = 259px;
$ico_twitter_total_height = 213px;
$ico_twitter_image = 'source/images/sprite.png';
$ico_twitter = 0px 179px 0px -179px 34px 34px 259px 213px 'source/images/sprite.png' 'ico-twitter';
$label1_name = 'label1';
$label1_x = 0px;
$label1_y = 0px;
$label1_offset_x = 0px;
$label1_offset_y = 0px;
$label1_width = 259px;
$label1_height = 109px;
$label1_total_width = 259px;
$label1_total_height = 213px;
$label1_image = 'source/images/sprite.png';
$label1 = 0px 0px 0px 0px 259px 109px 259px 213px 'source/images/sprite.png' 'label1';
$single_text_name = 'single-text';
$single_text_x = 0px;
$single_text_y = 163px;
$single_text_offset_x = 0px;
$single_text_offset_y = -163px;
$single_text_width = 136px;
$single_text_height = 16px;
$single_text_total_width = 259px;
$single_text_total_height = 213px;
$single_text_image = 'source/images/sprite.png';
$single_text = 0px 163px 0px -163px 136px 16px 259px 213px 'source/images/sprite.png' 'single-text';
$spritesheet_width = 259px;
$spritesheet_height = 213px;
$spritesheet_image = 'source/images/sprite.png';
$spritesheet_sprites = $central_emergencias $ico_text_two $ico_twitter $label1 $single_text;
$spritesheet = 259px 213px 'source/images/sprite.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
