doctype html
//if IE 9
  html.no-js.lt-ie10(lang='es')  
html.no-js(lang='es')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(property='og:title', content='')
    meta(property='og:description', content='')
    meta(property='og:url', content='')
    meta(property='og:image', content='images/imagen.jpg')
    link(rel='shortcut icon', type='image/x-icon', href='files/favicon.ico')
    title 
      block title
    link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Yantramanav:100,300,400,500,700,900')
    link(rel='stylesheet', type='text/css', href='css/plugins.css')
    link(rel='stylesheet', type='text/css', href='css/styles.css')
  body
    include templates/wrapper.jade
    include templates/sections/modal/modal-familias.jade
    include templates/sections/modal/modal-materiales.jade
    include templates/sections/modal/modal-combinaciones.jade
    include templates/sections/modal/modal-catalogo.jade
    include templates/sections/modal/alert.jade
    script(src='js/plugins.js', type='text/javascript')
    script(src='js/scripts.js', type='text/javascript')
