.container-fluid.total
  .contenedor-ficha-producto.container
    .tabbable.tabs-left
      ul.nav.nav-tabs     
        li.active
          a(href='#tab_generales', data-toggle='tab') Generales
        li
          a(href='#tab_materiales', data-toggle='tab') Materiales
        li
          a(href='#tab_precios', data-toggle='tab') Precios
        li
          a(href='#tab_imagenes', data-toggle='tab') Imagenes
        li
          a(href='#tab_combinaciones', data-toggle='tab') combinaciones
        li
          a(href='#tab_plataformas', data-toggle='tab') Plataformas
        li
          a(href='#tab_acompanamientos', data-toggle='tab') Acompañamientos
        li
          a(href='#tab_idiomas', data-toggle='tab') Otros Idiomas
        li
          a(href='#tab_paises', data-toggle='tab') Paises
        li
          a(href='#tab_catalogo', data-toggle='tab') Catálogo
        li
          a(href='#tab_atributos', data-toggle='tab') Atributos
      .tab-content
        #tab_generales.tab-pane.active
          include sections/generales.jade
        #tab_materiales.tab-pane
          include sections/materiales.jade  
        #tab_precios.tab-pane
          include sections/precios.jade
        #tab_imagenes.tab-pane
          include sections/imagenes.jade
        #tab_combinaciones.tab-pane
          include sections/combinaciones.jade
        #tab_plataformas.tab-pane
          include sections/plataformas.jade
        #tab_acompanamientos.tab-pane
          include sections/acompanamientos.jade
        #tab_idiomas.tab-pane
          include sections/idiomas.jade
        #tab_paises.tab-pane
          include sections/paises.jade
        #tab_catalogo.tab-pane
          include sections/catalogo.jade
        #tab_atributos.tab-pane
          include sections/atributos.jade   
