// ESTILOS GENERALES, GENERALMENTE SE APLICAN A ETIQUETAS HTML Y NO A CLASES O IDS



html
  font-size 62.5% //10px
  //1rem = 10px
  //1.5rem = 15px

  *
    font-family 'Yantramanav', arial, helvetica

main,#outdated
  font-size 1.6rem //16px tamaño estándar



html, body
  width 100%
  height 100%
  position absolute
  left 0
  top 0
  color $color-body

main
  width 100%
  min-height 100%
  position relative
  left 0
  top 0
  right 0



//QUITAR PADDING A LOS ESTILOS DE BOOTSTRAP
// [class*=col-]
//   padding 0


h1
  font-size 3.5rem
h2
  font-size 3rem
h3
  font-size 2.5rem
h4
  font-size 2rem
h5
  font-size 1.6rem
h6
  font-size 1.2rem



h1, h2, h3, h4, h5, h6
  font-weight: normal
  margin 0



//QUITAR OUTLINE A TODOS LOS ELEMENTOS
*:focus
  outline: none !important






::-webkit-input-placeholder {
   color: gray;
}
:-moz-placeholder { /* Firefox 18- */
   color: gray;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: gray;
}
:-ms-input-placeholder {
   color: gray;
}



// MENSAJE QUE INDICA QUE ESTÁS EN SOURCE
.update-browser
  width 100%
  height 100%
  position fixed
  overflow hidden
  top 0
  bottom 0
  left 0
  right 0
  background #666
  display none

  .update-browser-header
    position fixed
    top 0
    left 0
    width 100%
    height 80px
    padding 25px
  .update-browser-link
    color white
    font-size 20px
    display block
    margin 0 auto
    width 60%
    a
      color white
      text-decoration underline


//ESTILOS GENERALES
a:link, a:visited, a:hover, a:focus
  text-decoration none

fieldset
  border none

.btn, a
  cursor pointer


.form-group>input.has-value~label
  top 0
  font-size 1em

.form-group>textarea.has-value~label
  top 0
  font-size 1em

.form-group>select.has-value~label
  top 0
  font-size 1em

.form-control, .form-control:focus
  border-top 0
  // border-bottom 0
  border-left 0
  border-radius 0
  border-right 0
  padding 0px
  box-shadow none

.form-group {
  position: relative;
  // padding-top: 18px;
}
.form-control-line {
  position: absolute;
  bottom: -1px;
  left: 50%;
  right: 50%;
  height: 2px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
input:focus~.form-control-line {
  background-color: $color-input
  left: 0;
  right: 0;
}
textarea:focus~.form-control-line {
  background-color: $color-input
  left: 0;
  right: 0;
}
textarea{
  padding-top: 7px !important;
}
.form-group>input:focus~label {
  top: 0 !important;
  font-size: 1em !important;
  color: $color-input
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.form-group>textarea:focus~label {
  top: 0 !important;
  font-size: 1em !important;
  color: $color-input
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.form-group>input~label {
  top: 25px;
  margin-bottom: 0;
  font-size: 1em;
  pointer-events: none;
}
.form-group>textarea~label {
  top: 25px;
  margin-bottom: 0;
  font-size: 1em;
  pointer-events: none;
}
.control-label {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  display: inline-block;
  font-size: 0.85em;
  opacity: 0.5;
  font-weight: 500;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}


//select2
.select2-container--default .select2-selection--multiple, .select2-container--default .select2-selection--single{
  border-top 0
  border-left 0
  border-right 0
  border-radius 0
  border-color #ccc
}
.select2-dropdown{
  border-color #ccc
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
  padding-left: 0px;
}
.select2-container .select2-selection--single{
  height 34px
  padding-top 7px
}


.form-control, output{
  color $color-body
}

.modal-footer
  border-top 0px
.modal-header
  border-bottom 0px

.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align glyph */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { left: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-left: 30px; }
.right-addon input:focus { padding-left: 30px; }

.tt-menu.tt-open
  width 100%

span.twitter-typeahead .tt-suggestion.tt-cursor, span.twitter-typeahead .tt-suggestion:focus, span.twitter-typeahead .tt-suggestion:hover
  background-color $color-blue
.select2-container--default .select2-results__option--highlighted[aria-selected]{
  background-color $color-blue
}

// .select2-container--open .select2-dropdown--below
//   margin-top 5px
//   border-top solid 1px #ccc
//   transition .25s



//btn FLAT
.flat-butt {
  display: inline-block;
  margin: 0 5px;
  border-radius: 25px;
  font-family: "Lato", sans-serif;
  padding: 12px 20px;
  border: 0;
  background: #34495E;
  color: #FFF;
  cursor: pointer;
  outline: 0;
}
.flat-butt:hover {
  background: #005580;
}
.flat-butt-add, .flat-butt-add:hover{
    display: inline-block;
    border-radius: 25px;
    font-family: "Lato", sans-serif;    
    border: 0;
    background: #34495E;
    color: #FFF;
    cursor: pointer;
    outline: 0;
    min-width: 125px;
    text-align: center;
}
.flat-primary-butt {
  background: #1abc9c;
  color #777 !important
}
.flat-primary-butt:hover {
  background: #fff;
  color #777 !important
}
.flat-info-butt {
  background: #3498db;
}
.flat-info-butt:hover {
  background: #5dade2;
}
.flat-danger-butt {
  background: #BF0411
}
.flat-danger-butt:hover {
  background: #BF0411;
}
.flat-border-butt {
  padding: 8px 20px;
  border: 4px solid #2C3E50;
}
.flat-border-butt:hover {
  border: 4px solid #2C3E50;
}
.flat-primary-border-butt {
  border-color: #16A085;
}
.flat-primary-border-butt:hover {
  border-color: #27AE60;
}
.flat-info-border-butt {
  border-color: #2980B9;
}
.flat-info-border-butt:hover {
  border-color: #2980B9;
}
.flat-danger-border-butt {
  border-color: #C0392B;
}
.flat-danger-border-butt:hover {
  border-color: #C0392B;
}
.flat-double-butt {
  padding: 8px 20px;
  border: 3px solid #FFF;
  box-shadow: #34495E 0px 0px 0px 3px;
}
.flat-double-butt:hover {
  box-shadow: #005580 0px 0px 0px 3px;
}
.flat-primary-double-butt {
  box-shadow: #1abc9c 0px 0px 0px 3px;
}
.flat-primary-double-butt:hover {
  box-shadow: #2fe2bf 0px 0px 0px 3px;
}
.flat-info-double-butt {
  box-shadow: #3498db 0px 0px 0px 3px;
}
.flat-info-double-butt:hover {
  box-shadow: #5dade2 0px 0px 0px 3px;
}
.flat-danger-double-butt {
  box-shadow: #e74c3c 0px 0px 0px 3px;
}
.flat-danger-double-butt:hover {
  box-shadow: #ec7063 0px 0px 0px 3px;
}
.flat-underline-butt {
  text-decoration: underline;
}
.flat-grad-butt {
  background-image: linear-gradient(#34495E 50%, #2C3E50 50%);
}
.flat-primary-grad-butt {
  background-image: linear-gradient(#1ABC9C 50%, #16A085 50%);
}
.flat-info-grad-butt {
  background-image: linear-gradient(#3498DB 50%, #2980B9 50%);
}
.flat-danger-grad-butt {
  background-image: linear-gradient(#E74C3C 50%, #C0392B 50%);
}
.flat-inner-butt {
  padding: 7px 0px;
  box-shadow: inset #2C3E50 -3px -3px 0px;
}
.flat-primary-inner-butt {
  background: #fff;
  box-shadow: none;
  border solid 1px #ccc
}
.flat-info-inner-butt {
  box-shadow: inset #2980B9 -3px -3px 0px;
}
.flat-danger-inner-butt {
  box-shadow: inset #C0392B -3px -3px 0px;
}
.flat-outer-butt {
  padding: 11px 0px;
  box-shadow: #BDC3C7 2px 2px 0px;
}
.flat-butt
  min-width 125px
  text-align center
  &:hover, &:active, &:focus
    color #fff
.select2.select2-container.select2-container--default
  width 100% !important
.form-control:focus{
  border-color $color-blue-l
}


.count-input {
  position: relative;
  width: 100%;
  max-width: 110px;
  margin: 0 auto;
}
.count-input input {
  width: 100%;
  height: 36.92307692px;
  border: 1px solid #ccc;
  border-radius: 2px;
  background: none;
  text-align: center;
}
.count-input input:focus {
  outline: none;
}
.count-input .incr-btn {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  font-size: 26px;
  font-weight: 300;
  text-align: center;
  line-height: 30px;
  top: 50%;
  color #ccc;
  right: 0;
  margin-top: -15px;
  text-decoration:none;
}
.count-input .incr-btn:first-child {
  right: auto;
  left: 0;
  top: 55%;
}
.count-input.count-input-sm {
  max-width: 125px;
}
.count-input.count-input-sm input {
  height: 36px;
}
.count-input.count-input-lg {
  max-width: 200px;
}
.count-input.count-input-lg input {
  height: 70px;
  border-radius: 3px;
}

th
  // background-color $color-blue
  // color #fff
  // border-bottom-color $color-blue !important
  // font-weight normal
  // border-top solid 2px $color-blue !important
.table>tbody>tr>td,.table>thead>tr>th
  vertical-align middle
.modal-title
  color $color-blue
.modal-content
  padding 25px
.label-success
  background-color #46BE8A
.cont-caja
  text-align center
  img
    width 43%
.flat-danger-inner-butt
  box-shadow none !important
.flat-primary-inner-butt
  box-shadow none !important
