.general-container
  form#form_generales(method='post')
    .block
      .row
        .col-md-12
          h4.text-red Atributos
      .row
        .col-md-3
          .col-md-6.label-cont
            span Perecible
          .col-md-6.col-sm-10.col-xs-10
            .form-group
              input.js-switch(type='checkbox', checked='')
        .col-md-3
          .col-md-8.label-cont
            span Requiere Lote
          .col-md-4.col-sm-10.col-xs-10
            .form-group
              input.js-switch(type='checkbox', checked='')
        .col-md-4
          .col-md-10.label-cont.text-right
            span Requiere Fecha Vencimiento
          .col-md-2.col-sm-10.col-xs-10
            .form-group
              input.js-switch(type='checkbox', checked='') 
    hr
    .block
      .row
        .col-md-12
          h5.subtitulo Dimensiones
        .col-md-6
          .col-md-2.label-cont
            span Ancho
          .col-md-10.col-sm-10.col-xs-10
            .form-group
              input.form-control(name='ancho', type='text', autofocus='')
          .col-md-2.label-cont
            span Alto
          .col-md-10.col-sm-10.col-xs-10
            .form-group
              input.form-control(name='ancho', type='text', autofocus='')              
          .col-md-2.label-cont
            span Largo
          .col-md-10.col-sm-10.col-xs-10
            .form-group
              input.form-control(name='ancho', type='text', autofocus='')
          .col-md-2.label-cont
            span Peso
            
            
          .col-md-10.col-sm-10.col-xs-10
            .form-group
              input.form-control(name='ancho', type='text', autofocus='')
        .col-md-6
          .cont-caja
            img(src="images/caja.png")
          
  
    hr
    .block
      .row
        .col-md-12
          .pull-right            
            a.flat-butt.flat-primary-butt.flat-inner-butt.flat-primary-inner-butt(href="#") Cancelar
            a#btn_guardar.flat-butt.flat-danger-butt.flat-inner-butt.flat-danger-inner-butt(href='#') Guardar
            button.flat-butt.flat-danger-butt.flat-inner-butt.flat-danger-inner-butt(type='submit', name='guardar', value='Guardar') Guardar
