.general-container
  form#form_generales(method='post')
    .block
      .row
        .col-md-12
          h4.text-red Catálogo
      .row
        .col-md-2.label-cont
          span Catalogo
        .col-md-10.col-sm-10.col-xs-10
          .form-group
            input.form-control(name='insumos',type='text', data-toggle="modal", data-target="#catalogo" , autofocus='')
      .row
        .col-md-12
      .row
        .col-md-12
          .contenedor-campanas
            span Primavera, 
            span Otoño
          
    hr
    .block
      .row
        .col-md-12
          .pull-right            
            a.flat-butt.flat-primary-butt.flat-inner-butt.flat-primary-inner-butt(href="#") Cancelar
            a#btn_guardar.flat-butt.flat-danger-butt.flat-inner-butt.flat-danger-inner-butt(href='#') Guardar
            button.flat-butt.flat-danger-butt.flat-inner-butt.flat-danger-inner-butt(type='submit', name='guardar', value='Guardar') Guardar
