.general-container
  form#form_generales(method='post')
    .block
      .row
        .col-md-12
          h4.text-red Combinaciones
      .row
        .col-md-2.label-cont
          span Combinaciones
        .col-md-10.col-sm-10.col-xs-10
          .form-group
            input#combinaciones.form-control(name='combiaciones',type='text', data-toggle="modal", data-target="#modalcombinaciones" , autofocus='')
      .row
        .col-md-12
          .owl-carousel-portfolio.owl-carousel-navOut.owl-carousel.owl-theme.owl-loaded
            .item
              .item_product
                img(src="images/image-producto.jpg")
                h4 Producto 1
                p Texto Descripción, para detallar sobre el producto
            .item
              .item_product
                img(src="images/image-producto.jpg")
                h4 Producto 2
                p Texto Descripción, para detallar sobre el producto
            .item
              .item_product
                img(src="images/image-producto.jpg")
                h4 Producto 3
                p Texto Descripción, para detallar sobre el producto
            .item
              .item_product
                img(src="images/image-producto.jpg")
                h4 Producto 4
                p Texto Descripción, para detallar sobre el producto
            .item
              .item_product
                img(src="images/image-producto.jpg")
                h4 Producto 5
                p Texto Descripción, para detallar sobre el producto
            .item
              .item_product
                img(src="images/image-producto.jpg")
                h4 Producto 6
                p Texto Descripción, para detallar sobre el producto
            .item
              .item_product
                img(src="images/image-producto.jpg")
                h4 Producto 7
                p Texto Descripción, para detallar sobre el producto
            .item
              .item_product
                img(src="images/image-producto.jpg")
                h4 Producto 8
                p Texto Descripción, para detallar sobre el producto
            .item
              .item_product
                img(src="images/image-producto.jpg")
                h4 Producto 9
                p Texto Descripción, para detallar sobre el producto
            .item
              .item_product
                img(src="images/image-producto.jpg")
                h4 Producto 10
                p Texto Descripción, para detallar sobre el producto
            .item
              .item_product
                img(src="images/image-producto.jpg")
                h4 Producto 11
                p Texto Descripción, para detallar sobre el producto
            .item
              .item_product
                img(src="images/image-producto.jpg")
                h4 Producto 12
                p Texto Descripción, para detallar sobre el producto
    hr
    .block
      .row
        .col-md-12
          .pull-right            
            a.flat-butt.flat-primary-butt.flat-inner-butt.flat-primary-inner-butt(href="#") Cancelar
            a#btn_guardar.flat-butt.flat-danger-butt.flat-inner-butt.flat-danger-inner-butt(href='#') Guardar
            button.flat-butt.flat-danger-butt.flat-inner-butt.flat-danger-inner-butt(type='submit', name='guardar', value='Guardar') Guardar
