.general-container  
  .block
    .row
      .col-md-12
        h4.text-red Datos Generales
    .mensaje
      .alert.alert-success.fade.in.alert-dismissable
        //- a.close(href='#', data-dismiss='alert', aria-label='close', title='close') ×      
        |  Este producto se encuentra
        strong  Activo.
  form#form_generales(method='post')
    .block
      .row
        .col-md-2.label-cont
          span Nombres
        .col-md-8.col-sm-12.col-xs-12
          .form-group
            input#nombres.form-control(name='nombres', type='text', autofocus='')
      .row
        .col-md-2.label-cont
          span Código/SKU
        .col-md-8.col-sm-12.col-xs-12
          .form-group
            input#codigo.form-control(name='codigo', type='text')
      .row
        .col-md-2.label-cont
          span Tipo de Producto
        .col-md-8.col-sm-12.col-xs-12
          .form-group
            select#tipo_producto.form-control(name='tipo_producto') 
              option Productos
              option Insumos
              option Servicios
              option Compuestos
              option Produccion
              option insumos
              option Administrativos
              option Afectos a detraccion
      .row
        .col-md-2.label-cont
          span Descripción Corta
        .col-md-8.col-sm-12.col-xs-12
          .form-group
            input#descripcion_corta.form-control(name='descripcion_corta', type='text')
      .row
        .col-md-2.label-cont
          span Descripción Larga
        .col-md-8.col-sm-12.col-xs-12
          .form-group
            textarea#descripcion_larga.form-control(name='descripcion_larga', type='text')
      .row
        .col-md-2.label-cont
          span Product Manager
        .col-md-8.col-sm-12.col-xs-12
          .form-group
            input#product_manager.form-control(name='product_manager', type='text')              
      .clearfix
      hr
    .block    
      .row
        .col-md-2.label-cont
          span Familias
        .col-md-8.col-sm-12.col-xs-12
          .form-group
            input.form-control(name='familias', type='text', value='Envases/Envases de Vidrio/ Blancos y Transparentes.', data-toggle="modal", data-target="#familias")
      .row
        .col-md-2.label-cont
          span Tags
        .col-md-8.col-sm-12.col-xs-12
          .form-group
            input#tag.form-control.tags(name='tag', type='text')
      hr
    .block
      .row
        .col-md-12
          .pull-right            
            a.flat-butt.flat-primary-butt.flat-inner-butt.flat-primary-inner-butt(href="#") Cancelar
            a#btn_guardar.flat-butt.flat-danger-butt.flat-inner-butt.flat-danger-inner-butt(href='#') Guardar
            button.hidden.flat-butt.flat-danger-butt.flat-inner-butt.flat-danger-inner-butt(type='submit', name='guardar', value='Guardar') Guardar
