.general-container
  form#form_generales(method='post')
    .block
      .row
        .col-md-12
          h4.text-red Otros Idiomas
      .row
        .col-md-12
          h3.sub_titulo English
      .row
        .col-md-2.label-cont
          span Nombres
        .col-md-8.col-sm-12.col-xs-12
          .form-group
            input#nombres.form-control(name='nombres', type='text', autofocus='')
      .row
        .col-md-2.label-cont
          span Descripción Corta
        .col-md-8.col-sm-12.col-xs-12
          .form-group
            input#descripcion_corta.form-control(name='descripcion_corta', type='text')
      .row
        .col-md-2.label-cont
          span Descripción Larga
        .col-md-8.col-sm-12.col-xs-12
          .form-group
            textarea#descripcion_larga.form-control(name='descripcion_larga', type='text')
    hr
    .block
      .row
        .col-md-12
          .pull-right            
            a.flat-butt.flat-primary-butt.flat-inner-butt.flat-primary-inner-butt(href="#") Cancelar
            a#btn_guardar.flat-butt.flat-danger-butt.flat-inner-butt.flat-danger-inner-butt(href='#') Guardar
            button.flat-butt.flat-danger-butt.flat-inner-butt.flat-danger-inner-butt(type='submit', name='guardar', value='Guardar') Guardar
