.general-container
  form#form_generales(method='post')
    .block
      .row
        .col-md-12
          h4.text-red Imágenes
      .row
        .col-md-12.label-cont
          span
            i.fa.fa-desktop(aria-hidden='true') 
          span  Imagen - Web Contact
      .row
        .col-md-12
          input#image-desktop.dropify(type='file', name='image-desktop')
    .block
      .row
        .col-md-12.label-cont
          span
            i.mobile-responsive.fa.fa-mobile(aria-hidden='true') 
          span  Imagen - App Mobile
      .row
        .col-md-12
          input#image-mobile.dropify(type='file', name='image-mobile')          
    hr
    .block
      .row
        .col-md-12
          .pull-right            
            a.flat-butt.flat-primary-butt.flat-inner-butt.flat-primary-inner-butt(href="#") Cancelar
            a#btn_guardar.flat-butt.flat-danger-butt.flat-inner-butt.flat-danger-inner-butt(href='#') Guardar
            button.flat-butt.flat-danger-butt.flat-inner-butt.flat-danger-inner-butt(type='submit', name='guardar', value='Guardar') Guardar
