.general-container
  form#form_generales(method='post')
    .block
      .row
        .col-md-12.col-sm-12.col-xs-12
          h4.text-red Lista de Materiales (BOM)
      .row.top-row
        .col-md-9.col-sm-12.col-xs-12
          .mobile-row
            .col-md-2.label-cont
              span Insumo :
            .col-md-10.col-sm-12.col-xs-12
              .form-group
                input#search-insumos.form-control(name='insumos', type='text', autofocus='')
          .mobile-row
            .col-md-2.label-cont.col-sm-12.col-xs-12
              span U. Medida :
            .col-md-2.col-sm-12.col-xs-12
              .form-group
                select#tipo_producto.form-control(name='tipo_producto') 
                  option Lt
                  option Kg
                  option Cm
                  option Unidad 
          .mobile-row
            .col-md-2.label-cont.text-right.col-sm-12.col-xs-12
              span Cantidad :
            .col-md-2.col-sm-12.col-xs-12
              .count-input.space-bottom
                a.incr-btn(data-action='decrease', href='#') –
                input.quantity(type='text', name='quantity', value='1')
                a.incr-btn(data-action='increase', href='#') &plus;
          .mobile-row
            .col-md-2.label-cont.text-right.col-sm-12.col-xs-12
              span Costo Ref. :
            .col-md-2.col-sm-12.col-xs-12.col-sm-12.col-xs-12
              input#costo.form-control(name='costo', type='text', autofocus='')
        .col-md-2.text-center.center-btn.col-sm-12.col-xs-12
          a.flat-butt-add.flat-search-butt.flat-inner-butt.flat-search-inner-butt Agregar
      .row
        .col-md-12.col-sm-12.col-xs-12
          .content-table-general-materiales
            .content-action
              h3.sub-content-titulo Contenido BOM
              .pull-right.btn-dinamic
                a.active(data-view='image-materiales')
                  i.glyphicon.glyphicon-th                
                a(data-view='table-materiales')
                  i.glyphicon.glyphicon-th-list
              .clearfix
      .view#image-materiales
        .row
          .col-md-12.col-sm-12.col-xs-12
            #image-materiales.owl-carousel-portfolio.owl-carousel-navOut.owl-carousel.owl-theme.owl-loaded
              .item
                .item_product
                  //- p.estado.text-right.p-0
                  //-   input.js-switch(type='checkbox', checked='')
                  .hover-div                
                    img(src="images/image-producto.jpg")
                    .fix-back                  
                      p.accion-materiales.text-center.p-0
                        a.ico.trash
                          img(src='images/trash.png')
                        a.ico.edit
                          img(src='images/edit.png')
                  h4 Producto 1
                  p
                    strong Cantidad : 
                    span  20
                  p
                    strong Costo Ref :
                    span  $20.00
                  p
                    strong Unidad de Medida :
                    span  Unidad
                  p Texto Descripción, para detallar sobre el producto
                  .edti-item
                    .count-input.space-bottom
                      a.incr-btn(data-action='decrease', href='#') –
                      input.quantity(type='text', name='quantity', value='1')
                      a.incr-btn(data-action='increase', href='#') &plus;  
              .item
                .item_product
                  //- p.estado.text-right.p-0
                  //-   input.js-switch(type='checkbox', checked='')
                  .hover-div                
                    img(src="images/image-producto.jpg")
                    .fix-back                  
                      p.accion-materiales.text-center.p-0
                        a.ico.trash
                          img(src='images/trash.png')
                        a.ico.edit
                          img(src='images/edit.png')
                    h4 Producto 1
                    p
                      strong Cantidad : 
                      span  20
                    p
                      strong Costo Ref :
                      span  $20.00
                    p
                      strong Unidad de Medida :
                      span  Unidad
                    p Texto Descripción, para detallar sobre el producto                  
              .item
                .item_product
                  //- p.estado.text-right.p-0
                  //-   input.js-switch(type='checkbox', checked='')
                  .hover-div                
                    img(src="images/image-producto.jpg")
                    .fix-back                  
                      p.accion-materiales.text-center.p-0
                        a.ico.trash
                          img(src='images/trash.png')
                        a.ico.edit
                          img(src='images/edit.png')
                  h4 Producto 1
                  p
                    strong Cantidad : 
                    span  20
                  p
                    strong Costo Ref :
                    span  $20.00
                  p
                    strong Unidad de Medida :
                    span  Unidad
                  p Texto Descripción, para detallar sobre el producto                 
              .item
                .item_product
                  //- p.estado.text-right.p-0
                  //-   input.js-switch(type='checkbox', checked='')
                  .hover-div                
                    img(src="images/image-producto.jpg")
                    .fix-back                  
                      p.accion-materiales.text-center.p-0
                        a.ico.trash
                          img(src='images/trash.png')
                        a.ico.edit
                          img(src='images/edit.png')
                  h4 Producto 1
                  p
                    strong Cantidad : 
                    span  20
                  p
                    strong Costo Ref :
                    span  $20.00
                  p
                    strong Unidad de Medida :
                    span  Unidad
                  p Texto Descripción, para detallar sobre el producto                
      .view#table-materiales.hidden
        .row
          .col-md-12
            .content-table-general
              table#agregarMaterial.table
                thead
                  tr
                    //- th  
                    th Código                  
                    th Descripción
                    th.text-center Cantidad
                    th Unidad de Medida
                    th Costo Referido                
                    //- th.text-center Estado
                    th Acciones                      
                tbody
                  tr
                    //- td
                    //-   input.icheck(type='checkbox')
                    td 878723
                    td Insumo descripcion
                    td.text-center
                      span.cant-list 2
                      .count-input.space-bottom.hidden
                        a.incr-btn(data-action='decrease', href='#') –
                        input.quantity(type='text', name='quantity', value='1')
                        a.incr-btn(data-action='increase', href='#') &plus;
                    td Kilogramos
                    td $55.00                      
                    //- td.text-center
                    //-   input.js-switch(type='checkbox', checked='')
                    td
                      a.ico.trash(data-toggle="modal", data-target="#alerta")
                        img(src='images/trash.png')
                      a.ico.edit
                        img(src='images/edit.png')
                      a.ico.save.hidden
                        img(src='images/save.png')                                     
                  tr
                    //- td
                    //-   input.icheck(type='checkbox')
                    td 878723
                    td Insumo descripcion
                    td.text-center
                      span.cant-list 2
                      .count-input.space-bottom.hidden
                        a.incr-btn(data-action='decrease', href='#') –
                        input.quantity(type='text', name='quantity', value='1')
                        a.incr-btn(data-action='increase', href='#') &plus;
                    td Kilogramos
                    td $23.00               
                    //- td.text-center
                    //-   input.js-switch(type='checkbox', checked='')
                    td
                      a.ico.trash(data-toggle="modal", data-target="#alerta")
                        img(src='images/trash.png')
                      a.ico.edit
                        img(src='images/edit.png')
                      a.ico.save.hidden
                        img(src='images/save.png')                       
    //- hr
    //- .block
    //-   .row
    //-     .col-md-12
    //-       .pull-right            
    //-         a.flat-butt.flat-primary-butt.flat-inner-butt.flat-primary-inner-butt(href="#") Cancelar
    //-         a#btn_guardar.flat-butt.flat-danger-butt.flat-inner-butt.flat-danger-inner-butt(href='#') Guardar
    //-         button.hidden.flat-butt.flat-danger-butt.flat-inner-butt.flat-danger-inner-butt(type='submit', name='guardar', value='Guardar') Guardar
