.general-container
  form#form_generales(method='post')
    .block
      .row
        .col-md-12
          h4.text-red Paises
      .row
        .col-md-2.label-cont
          span Chile
        .col-md-10.col-sm-10.col-xs-10
          .form-group
            input.js-switch(type='checkbox', checked='')
      .row
        .col-md-2.label-cont
          span Mexico
        .col-md-10.col-sm-10.col-xs-10
          .form-group
            input.js-switch(type='checkbox', checked='')
      .row
        .col-md-2.label-cont
          span Perú
        .col-md-10.col-sm-10.col-xs-10
          .form-group
            input.js-switch(type='checkbox', checked='')   
    hr
    .block
      .row
        .col-md-12
          .pull-right            
            a.flat-butt.flat-primary-butt.flat-inner-butt.flat-primary-inner-butt(href="#") Cancelar
            a#btn_guardar.flat-butt.flat-danger-butt.flat-inner-butt.flat-danger-inner-butt(href='#') Guardar
            button.flat-butt.flat-danger-butt.flat-inner-butt.flat-danger-inner-butt(type='submit', name='guardar', value='Guardar') Guardar
