.precios-container
  .block
    .row
      .col-md-12
        h4 Plataformas      
        table#agregarMaterial.table.table-responsive
          thead
            tr
              th Lista de Precios
              th Unidad de Medida
              th Factor
              th Precio Sugerido
              th.text-center Precio Final
              th.text-center Estado
            
          tbody
            tr
              td texto
              td texto 2
              td 1
              td 15.50
              td 87
              td.text-center
                input.js-switch(type='checkbox', checked='')
            tr
              td texto
              td texto 2
              td 1
              td 15.50
              td 87
              td.text-center
                input.js-switch(type='checkbox', checked='')
              
                    
    hr
  .block
    .row
      .col-md-12
        .pull-right            
          a.flat-butt.flat-primary-butt.flat-inner-butt.flat-primary-inner-butt(href="#") Cancelar
          a#btn_guardar.flat-butt.flat-danger-butt.flat-inner-butt.flat-danger-inner-butt(href='#') Guardar
          button.flat-butt.flat-danger-butt.flat-inner-butt.flat-danger-inner-butt(type='submit', name='guardar', value='Guardar') Guardar
