.precios-container
  .block
    .row
      .col-md-12
        h4 Lista de Precios      
        table#agregarMaterial.table.table-responsive
          thead
            tr
              //- th 
              //-   input.icheck(type='checkbox')
              th.text-center Estado
              th Lista de Precios
              th Unidad de Medida
              th Factor
              th Precio Sugerido
              th.text-center Precio Final
              th.text-center Rentabilidad
            
          tbody
            tr
              //- td
              //-   input.icheck(type='checkbox')
              td.text-center
                span.label.label-table.label-default Deshabilitado
              td texto 2
              td
                .form-group
                  select.precio_sugerido.form-control(name='tipo_producto') 
                    option Item 1
                    option Item 2
                    option Item 3
                    option Item 4
                    option Item 5
              td 1
              td 15.50
              td
                .form-group
                  input#descripcion_corta.form-control(name='descripcion_corta', type='text')
              td.text-center 0                                               
            tr
              //- td 
              //-   input.icheck(type='checkbox')
              td.text-center
                span.label.label-table.label-success Habilitado 
              td texto 3
              td
                .form-group
                  select.precio_sugerido.form-control(name='tipo_producto') 
                    option Item 1
                    option Item 2
                    option Item 3
                    option Item 4
                    option Item 5
              td 2
              td 16.50
              td 
                .form-group
                  input#descripcion_corta.form-control(name='descripcion_corta', type='text')
              td.text-center 0              
              
                    
    hr
  .block
    .row
      .col-md-12
        .pull-right            
          a.flat-butt.flat-primary-butt.flat-inner-butt.flat-primary-inner-butt(href="#") Cancelar
          a#btn_guardar.flat-butt.flat-danger-butt.flat-inner-butt.flat-danger-inner-butt(href='#') Guardar
          button.flat-butt.flat-danger-butt.flat-inner-butt.flat-danger-inner-butt(type='submit', name='guardar', value='Guardar') Guardar
