
////////////////////////////////////////////
//// ESTILOS DE LA ESTRUCTURA DEL SITIO ////
////////////////////////////////////////////
.alert-success
  background-color #46be8a
  border-color #46be8a
  color #fff
.close
  font-size 30px
.contenedor-ficha-producto
  padding 50px
  .tabs-below > .nav-tabs,
  .tabs-right > .nav-tabs,
  .tabs-left > .nav-tabs
      border-bottom 0

  .tab-content > .tab-pane,
  .pill-content > .pill-pane
      display none

  .tab-content > .active,
  .pill-content > .active
      display block

  .tabs-below
      & > .nav-tabs
          border-top 1px solid #e4eaec
          & > li
              margin-top -1px
              margin-bottom 0
              & > a
                  -webkit-border-radius 0 0 4px 4px
                  -moz-border-radius 0 0 4px 4px
                  border-radius 0 0 4px 4px

  .tabs-below > .nav-tabs > li > a:hover,
  .tabs-below > .nav-tabs > li > a:focus
      border-top-color #ddd
      border-bottom-color transparent

  .tabs-below > .nav-tabs > .active > a,
  .tabs-below > .nav-tabs > .active > a:hover,
  .tabs-below > .nav-tabs > .active > a:focus
      border-color transparent #ddd #ddd #ddd

  .tabs-left > .nav-tabs > li,
  .tabs-right > .nav-tabs > li
      float none

  .tabs-left > .nav-tabs > li > a,
  .tabs-right > .nav-tabs > li > a
      min-width 74px
      margin-right 0
      margin-bottom 3px

  .tabs-left
      & > .nav-tabs
          float left
          margin-right 19px
          border-right 1px solid #e4eaec
          & > li
              & > a
                  margin-right -1px
                  -webkit-border-radius 4px 0 0 4px
                  -moz-border-radius 4px 0 0 4px
                  border-radius 4px 0 0 4px

  .tabs-left > .nav-tabs > li > a:hover,
  .tabs-left > .nav-tabs > li > a:focus
      border-color #eeeeee #dddddd #eeeeee #eeeeee

  .tabs-left > .nav-tabs .active > a,
  .tabs-left > .nav-tabs .active > a:hover,
  .tabs-left > .nav-tabs .active > a:focus
      // border-color #ddd transparent #ddd #ddd
      *border-right-color #ffffff

.contenedor-ficha-producto
  .tabs-left
    .tab-content
      overflow hidden
      // height 100%
    .nav-tabs
      li.active
        a
          border-right 2px solid $color-blue
          border-top 0
          border-left 0
          border-bottom 0
          color $color-blue
      li
        a
          color $color-body

.container-fluid.total
  height 100%
.label-cont
  position relative
  span
    top 7px
    position relative

.precios-container
  h4
    padding-bottom 15px
    color $color-blue
  p
    padding-bottom 15px

.block
  padding-left 30px
  .row
    padding-bottom 15px
  .row-top
    padding-bottom 35px
    padding-top 15px


.owl-carousel
  // padding-left 90px
  // padding-right 90px
  .owl-stage
    padding-bottom 10px
  .item
    // padding 8px
    .item_product
      padding 10px
      border solid 1px #f1f1f1
      // box-shadow 2px 2px 2px #ccc
      h4
        font-size 18px
        color #37474f
        padding-top 14px
        padding-bottom 14px
        padding-left 25px
        padding-right 25px
      p
        padding-left 25px
        padding-right 25px
.mobile-responsive
  font-size 24px

h4.text-red
  color $color-blue

.contenedor-campanas
  padding 20px
  border solid 1px #ddd
  border-radius 5px

h5.subtitulo
  padding-top 0px
  padding-bottom 30px

h3.sub_titulo
  font-size: 20px;
h3.sub-content-titulo
  font-size 16px
  padding-top 30px
  display inline-block
  padding-bottom 45px
  color $color-blue
.flat-search-inner-butt, .flat-search-inner-butt:hover
  background $color-blue
  box-shadow none !important
.right-took
  padding-right 10px
.top-row
  padding-top: 0px;
  padding-bottom: 30px !important;
.center-btn
  padding-top 35px
.p-right
  padding-right 10px
h4.text-red
  display inline-block
.content-action
  h3.sub-content-titulo
    padding-top 0px
    padding-bottom 0px
.edti-item
  padding-top 20px
  top 200px
.edit-item.edit
  height 50px
.btn-dinamic
  // padding-top 30px
  padding-right 10px
  a
    padding-left 10px
    font-size 25px
    color #B5BFC5
  a.active
    color $color-blue
.p-r-0
  padding-right 0px
.p-0
  padding 0px !important
.content-action
  padding-bottom: 20px
.content-table-general
  padding 10px
  border solid 1px #ddd
  border-radius 6px
.badge
  height: 18px;
  width: 18px;
  cursor: pointer;
.badge-success
  background-color #2bdba6
.badge-not
  background-color #ddd
.modal-sm
  width 356px
.modal-dialog
  margin 10% auto;
.table
  .ico
    img
      width 30px
  a.ico
    padding-left 15px
  a.ico:first-child
    padding-left 0px

.content-table-general-materiales
  margin-right: 6px;
.item
  .item_product
    p.accion-materiales
      padding-right 0px !important
      display none
      a
        padding-left 25px
        img
          width 30px !important
      a:first-child
        padding-left 0px
  .hover-div
    &:hover
      p.accion-materiales
        display: block;
        z-index: 2;
        top: 70px;
        position: relative;
      .fix-back
        background: rgba(255,255,255,0.9);
        position: absolute;
        width: 90%;
        top 9px
        height: 220px;
        z-index: 2;
