// BLOQUES QUE SE REUTILIZARÁN




// DISPLAY TABLE
.display-table
  display-table()

  .display-table-cell
    display-table-cell()



// CENTER
.big-center
  centers(1500px)

.center
  centers(1200px)

.small-center
  centers(980px)




// CLEARFIX
.clearfix
  clearfix()




// PROPERTIES
.hide
  opacity 0
.none
  display none
.error
  // border 1px solid red !important
  color #EC7063
  font-style normal
  display block
  font-size 12px
  position absolute
  height 17px




// ICO
.ico
  display inline-block
