
//@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
//  .ico
//    background-image:url('../images/sprite2x.png')
//    background-size $spritesheet_width $spritesheet_height

@media only screen and (max-width: 991px)
    .label-cont span
  			top 0px
  	.col-md-2.label-cont.text-right.col-sm-12.col-xs-12
  		text-align left !important
    .mobile-row
      position relative
      display block
      clear both
      float left
      width 100%
  	.count-input
  		max-width 100%
